body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.big-heading{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: white;
}

.white-section{
  background-color:#fff;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
  /*top left&right bottom */
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  /* padding left &right of the nav items */
  padding: 0 18px;
  /* top&bottom left&right*/
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat Light";
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0
    /*top right left bottom*/
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  /* since position is set to absolute, i can set the distance i want the image to have from the right of the screen */
  right:30%;
}

/* Features section */
#features {
  padding: 6.5rem 13rem;
  position: relative;
  /* z-index: 1; This is redundant here because by HTML stacking order, the element below will be on top anyways.*/
}

.feature-title{
  font-size:1.5rem;
}
.icon {
  color: #ef8172;
  margin-bottom: 5%;
}

/* create hover on the icon */
.icon:hover {
  color: #ff4c68;
}

.feature-box {
  line-height: 1.5rem;
  padding: 5%;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.test-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
  /*top left&right bottom */
}

/* Pricing section */
#pricing {
  padding: 100px;
}

.price-text, .section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer section */

.ft-icon{
  margin: 1% 1% 4%;
}

/* Here we define a breakpoint after which the title section ands image should behave differently, in this case, for mobile. we use css media query breakpoints */

@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform:rotate(0);
  }
}
